<!DOCTYPE html>
<html>
  <head>
    <title>Registro</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  </head>
  <body>
    <br><form method="POST" action="{{ url_for('crearusuario')}} ">
      <input name="nombre" placeholder="Nombre" type="text" required>
      <br><input name="contraseña" placeholder="Contraseña" type="password" required>
      <br>
            <select name="pais" id="categoria" required>
                                <option value="" selected disabled>Elegir una categoria...</option>
                                <option value="arg">Argentina</option>
                                <option value="ur">Uruguay</option>
                                <option value="ch">Chile</option>
                                <option value="pnd">Prefiero no decirlo</option>

                            </select>
      <br>
      <input type="checkbox" name="acepto" required><label>Acepto las Bases y Condiciones</label>
      <br><button name="boton" value="registro" type="submit">Crear</button>
      

    </form>
  </body>
</html>